.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  position: relative;
  color: #fff;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 11rem;
  color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  position: absolute;
  width: 50%;
  height: 11rem;
  align-items: end;
  justify-content: space-around;
  font-weight: 900;
  color: #fff;
  transition: 0.3s;
}

.navigation h2:hover {
  cursor: pointer;
  filter: brightness(0.8);
  transition: 0.3s;
}

.active {
  background-color: #fff;
  padding: 0px 30px;
  border-radius: 30px 30px 0px 0px;
}

.active h2 {
  color: #3152b7;
}

::-webkit-scrollbar {
  width: 13px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(136, 136, 136);
}

.swiperContainer {
  width: 70%;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  text-align: center;
  margin-top: 15px;
  color: white;
}

.poster {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.contain {
  width: 80%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  display: flex;
  width: 18%;
  position: relative;
  transition: 0.3s;
}

.card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px -70px 90px rgba(0, 0, 0, 1);
  pointer-events: none;
}

.card img {
  width: 100%;
  height: auto;
  transition: 0.3s;
  border-radius: 10px;
}

.title {
  position: absolute;
  bottom: -10px;
  left: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s;
  text-shadow: 0px 0px 90px 10px rgba(0, 0, 0, 0.9);
}

.card:hover .title {
  bottom: 5px;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.positionSearch {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  all: unset;
  position: relative;
  width: 55%;
  /* height: 18%; */
  border-radius: 40px;
  margin-bottom: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: #000;
  z-index: 9999;
}

.searchButton {
  all: unset;
  position: absolute;
  right: 22%;
  top: 14%;
  color: #000;
  z-index: 9999;
  cursor: pointer;
}

.noResults {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pipoca {
  width: 35%;
  height: auto;
}

.text {
  font-size: 40px;
  width: 20%;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
  margin-bottom: 60px;
}

.pageButton {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.3s;
}

.pageButton:disabled {
  background-color: #222;
  cursor: not-allowed;
}

.pageButton.active {
  background-color: white;
  color: black;
}

.pageButton:hover {
  background-color: white;
  color: black;
}

.pageButton2 {
  all: unset;
  cursor: pointer;
  transition: 0.3s;
}

.pageButton2:hover {
  transform: scale(1.5);
}

.pageButton2:disabled {
  color: #000;
}

.menu{
  justify-self: end;
  align-self: flex-end;

  &:hover{
    cursor: pointer;
    color: #3152b7;
  }
  svg{
    border: 1px solid #fff;
    border-radius: 10px;
  }
}